stdout.txt
test/SCMS.PRJ
test/TC0000.SWP
test/TC0002.SWP
test/OUTPUT/ADMAIN.OBJ
test/OUTPUT/DRAWHOME.OBJ
test/OUTPUT/HOME.OBJ
test/OUTPUT/HZ.OBJ
test/OUTPUT/INPUT.OBJ
test/OUTPUT/JUDGE.OBJ
test/OUTPUT/MAIN.OBJ
test/OUTPUT/MOUSE.OBJ
test/OUTPUT/REGISTER.OBJ
test/OUTPUT/SCMS.EXE
test/OUTPUT/USERDATA.OBJ
test/OUTPUT/USERMAIN.OBJ
test/OUTPUT/SCMS.EXE
